<p id="notice"><%= notice %></p>



<%= calendar number_of_days: 1, events: @calendar_events do |date, events| %>
  <div><strong><%=date.to_s(:long) %> </strong></div>
  <% events.each do |event| %>
  <%= link_to event.name, event_path(event.id)%>
  <%= event.start_time.strftime("%H:%M") %>
  <% end %>
<% end %>


<%= link_to 'New Event', new_event_path %>
