<%= form_for [@category, @link] do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :link_name %>
    <%= form.text_field :name, id: :link_name %>
  </div>

  <div class="field">
    <%= form.label :link_url %>
    <%= form.text_field :link_url, id: :link_link_url %>
  </div>

  <div class="field">
    <%= form.label :link_style %>
    <%= form.text_field :link_style, id: :link_link_style %>
  </div>

  <div class="field">
    <%= form.label :icon_id %>
    <%= form.number_field :icon_id, id: :link_icon_id %>
  </div>

 <%= link.inspect %>
    <%= form.hidden_field :category_id%>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
