<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>










  <div class="category_container">
  <div class="category_header">

     <div><i class="fab fa-firefox"></i>
        <%= form.select :icon_id, id: :category_icon_id %>

         <%= form.text_field :name, id: :category_name, class: "category_field" %>
       </div>


     <div class="options_container">




      </div>
  </div>


  <Div class="access_container" style="height: 200px;">


    </div>
    </div>

<br>
    <div class="actions">
      <%= form.submit class: "btn, btn-primary" %>
    </div>


    <div class="field">
      <%= form.label :user_id %>
      <%= form.text_field :user_id, id: :category_user_id %>
    </div>

<% end %>
