<p id="notice"><%= notice %></p>




  <% @categories.each do |category| %>
    <div class="card text-white bg-primary border-secondary p-3" style="width:100%;">
      <div class="card-header">

          <i class="<%= category.icon.path %>" aria-hidden="true" style="color:white;"></i> <%= category.name %>


          <div class="btn-group dropup">
           <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Options
           </button>
              <div class="dropdown-menu">
                  <%= link_to 'Edit', edit_category_path(category) %>
                    <br>
                  <%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>

        </div>
            <div class="card-body bg-success">
              <% category.links.each do |link| %>
                <%= link_to link.name, "http://#{link.link_url}", class: "btn btn-primary mx-auto", type:"button", target: "_blank"%>
              <% end %>
            </div>
          </div>
<br>
  <% end %>
