<p id="notice"><%= notice %></p>

<h1>Categories</h1>


    <% @categories.each do |category| %>
    <Div class="Jumbotron_wrap">
    <div class="jumbotron_header">
       <div><i class="fab fa-firefox"></i><%= category.icon_id %> <%= category.name %></div>
    </div>
    <Div class="access_container">
      <a class="navitem" href="" target="_blank">

    </a>
    <a class="navitem" href="" target="_blank" >

    </a>
    <a class="navitem" href="" target="_blank">

    </a>
    <a class="navitem" href="" target="_blank">

    </a>

    </div>
    </div>


        <%= link_to 'Show', category %>
        <%= link_to 'Edit', edit_category_path(category) %>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>

<br>

<%= link_to 'New Category', new_category_path %>
